@using webSITE.Areas.Dashboard.Models.PengumumanController
@model EditVM
@{
    ViewData["Title"] = "Tambah Pengumuman";
}


<div class="edit-pengumuman">
    <!-- Hyperlink -->
    <h1 class="title">Edit Pengumuman</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Pengumuman</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Edit Pengumuman</a></li>
    </ul>
    <!-- Akhir Hyperlink -->

    <div class="container-fluid cardplus">
        <form class="row" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="@Model.Id" hidden />

            <div class="col-12 mb-2 input-box">
                <vc:foto-picker name=@nameof(EditVM.IdFoto) multi=false
                                value=@(Model.IdFoto is null ? new() : new List<int> { Model.IdFoto.Value })>
                </vc:foto-picker>
            </div>


            <div class="col-12 mb-2 input-box">
                <label asp-for="@Model.Judul" class="form-label">Judul</label>
                <input asp-for="@Model.Judul" type="text" class="form-control" />
                <span class="form-text text-danger" asp-validation-for="@Model.Judul"></span>
            </div>

            <div class="col-12 mb-2 input-box">
                <label asp-for="@Model.Isi" class="form-label">Isi</label>
                <textarea asp-for="@Model.Isi" class="form-control" rows="4"></textarea>
                <span class="form-text text-danger" asp-validation-for="@Model.Isi"></span>
            </div>


            <div class="col-md-12 mt-4 d-flex justify-content-start">
                <button class="btn-custom me-2" type="submit">Simpan</button>
                <a class="btn-customdel" asp-action="Index">
                    Batal
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTableScroll" />
}