@using webSITE.Areas.Dashboard.Models.PengumumanController
@model EditVM
@{
    ViewData["Title"] = "Tambah Pengumuman";
}

<div class="container-fluid">
    <form class="row" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="@Model.Id" hidden/>

        <div class="col mb-3">
            <label asp-for="@Model.Judul" class="form-label"></label>
            <input asp-for="@Model.Judul" type="text" class="form-control" />
            <span class="form-text text-danger" asp-validation-for="@Model.Judul"></span>
        </div>

        <div class="col mb-3">
            <label asp-for="@Model.Isi" class="form-label"></label>
            <textarea asp-for="@Model.Isi" class="form-control"></textarea>
            <span class="form-text text-danger" asp-validation-for="@Model.Isi"></span>
        </div>

        <div class="col mb-3">
            <vc:foto-picker name=@nameof(EditVM.IdFoto) multi=false 
                value=@(Model.IdFoto is null ? new() : new List<int> { Model.IdFoto.Value })>
            </vc:foto-picker>
        </div>

        <div class="col mb-3">
            <button type="submit" class="btn btn-custom">Simpan</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}