@model List<Foto>
@{
    ViewData["Title"] = "Album";
    ViewData["Active"] = "Album";
}

<style>
    .parent {
        height: 320px;
        overflow: hidden;
        border-radius: 5px;
        padding: 0px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }

    .child {
        width: 100%; /* lebar 100% dari wadah */
        height: 100%; /* tinggi gambar terserah anda */
        object-fit: cover; /* gambar dalam kotak cuy */
        transition: .5s;
        background-size: cover;
    }

    .parent:hover .child {
        transform: scale(1.1);
        cursor: pointer;
        filter: brightness(70%);
    }

    .parent:hover .content {
        opacity: 0.8;
        color: white;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0px 2px 8px 0px #b0bec5;
        transition: 1s;
    }

    .card-body {
        padding: 14px;
        margin-top: 0px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        opacity: 0;
        transition: 0.2s ease-in-out;
        height: 320px;
        width: 100%;
    }

        .content h3 {
            font-size: 45px;
        }

        .content a {
            text-decoration: none;
            color: white;
            display: flex;
            height: 100%;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

    h5 {
        font-weight: 700;
        color: rgb(35, 35, 85);
    }

    h1 {
        font-size: 30px;
    }

    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Ganti ujung teks dengan (...) */
        display: block;
        max-width: 100%;
    }
</style>

@{
    string view = (ViewData["view"] as string)!;
}



<div class="foto-semua">
    <!-- Hyperlink -->
    <h1 class="title">Album</h1>
    <ul class="breadcrumbs mb-4">
        <li><a href="#">Album</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Album</a></li>
    </ul>
    <!-- Akhir Hyperlink -->

    <div class="container">

        @foreach (var foto in Model)
        {
            <!-- Modal -->
            <div class="modal fade" id="modal@(foto.Id)" tabindex="-1" aria-labelledby="modal@(foto.Id)" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered custom-modal">
                    <div class="modal-content">
                        <div class="kepala-modal">
                            <h2 class="aku-h2" id="exampleModalLabel">Dalam Foto</h2>
                            @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                        </div>
                        <div class="modal-body">

                            <div class="container">
                                @*<h2 class="aku-h2">Anggota Peserta</h2>*@
                                <ul class="responsive-table">
                                    <li class="table-header">
                                        <div class="col col-1 text-center">Foto</div>
                                        <div class="col col-2 text-center">NIM</div>
                                        <div class="col col-4 text-center">Nama</div>
                                    </li>
                                    @foreach (var mahasiswa in foto.DaftarMahasiswa)
                                    {
                                        <li class="table-row">
                                            <div class="col col-1 text-center" @*data-label="Foto"*@>
                                                <img src="@Url.Action("FotoProfil", "File", new { Area = "", id = mahasiswa.Id })" alt="" class="img-thumbnail">
                                            </div>
                                            <div class="col col-2 text-center" @*data-label="NIM"*@>@mahasiswa.Nim</div>
                                            <div class="col col-4 text-center" @*data-label="Nama"*@>@mahasiswa.NamaLengkap</div>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th width="10%">Foto</th>
                    <th>Tanggal Dibuat</th>
                    <th>Tanggal Diubah</th>
                    <th>Pembuat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var foto in Model)
                {
                    <tr>
                        <td>@foto.Id</td>
                        <td>
                            <img class="img-fluid" src="@Url.Action("Foto", "File", new {Area="", Id = foto.Id})">
                        </td>
                        <td>@foto.AddedAt.ToString("dd/MMM/yyyy hh:mm tt")</td>
                        <td>@(foto.ModifiedAt.HasValue ? foto.ModifiedAt.Value.ToString("dd/MMM/yyyy hh:mm tt") : "")</td>
                        <td>@(foto.Creator is not null ? foto.Creator.NamaLengkap : "Tidak Ada")</td>
                        <td>
                            <div class="d-flex gap-1 justify-content-center">

                                <button class="btn btn-warning" type="button"
                                        data-bs-toggle="modal" data-bs-target="#modal@(foto.Id)">
                                    <i class="fa fa-regular fa-eye"></i>
                                </button>

                                <a class="btn btn-primary">
                                    <i class="fas fa-pen-square fa-lg"></i>
                                </a>



                                <form asp-action="Delete" asp-route-id="@foto.Id">
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-regular fa-trash"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</div>

@section Scripts {
    <partial name="_DataTable" />
}