@using webSITE.ViewComponents
@model TambahVM
@{
    ViewData["Title"] = "Tambah Foto";
}

<form enctype="multipart/form-data" method="post" class="container pt-5" asp-action="Tambah"
      asp-route-returnUrl="@ViewData["returnUrl"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <label asp-for="@Model.FormFile" class="form-label"></label>
        <input asp-for="@Model.FormFile" class="form-control" />
        <span asp-validation-for="@Model.FormFile" class="form-text text-danger"></span>
    </div>

    <div class="row">
        <span asp-validation-for="@Model.DaftarIdMahasiswa" class="form-text text-danger"></span>
        <vc:mahasiswa-picker input-name=@nameof(TambahVM.DaftarIdMahasiswa) multi=true></vc:mahasiswa-picker>
    </div>

    <button type="submit" class="btn btn-primary">Simpan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}