@using webSITE.ViewComponents
@model TambahVM
@{
    ViewData["Title"] = "Tambah Foto";
}



<div class="tambah-foto">
    <!-- Hyperlink -->
    <h1 class="title">Tambah Foto</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Album</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Tambah Foto</a></li>
    </ul>
    <!-- Akhir Hyperlink -->

    <div class="container-fluid cardplus">
        <form enctype="multipart/form-data" method="post" class="" asp-action="Tambah"
              asp-route-returnUrl="@ViewData["returnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row" style="padding: 0px 10px;">
                <label asp-for="@Model.FormFile" style="padding:0;" class="mb-2">Tambah Foto</label>
                <input asp-for="@Model.FormFile" class="form-control" />
                <span asp-validation-for="@Model.FormFile" class="form-text text-danger"></span>
            </div>

            <div class="row mt-3">
                <span asp-validation-for="@Model.DaftarIdMahasiswa" class="form-text text-danger"></span>
                <vc:mahasiswa-picker input-name=@nameof(TambahVM.DaftarIdMahasiswa) multi=true></vc:mahasiswa-picker>
            </div>

            <div class="col-md-12 mt-3 d-flex justify-content-start">
                <button class="btn-custom me-2" type="submit">Simpan</button>
                @* <a class="btn-customdel" asp-action="Index">
                    Batal
                </a> *@
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTableScroll" />
}