@model List<Kegiatan>
@inject IRepositoriFoto RepostoriFoto
@{
    ViewData["title"] = "Kegiatan";
    ViewData["Active"] = "Kegiatan";
}

<style>

    .card {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
    }

    .card-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card h2 {
        text-transform: uppercase;
        color: black;
        font-size: 2rem;
    }

    .card p {
        line-height: 1.4em;
    }

    .card-body {
        height: 290px;
        overflow: auto;
    }

        .card-body .card-title,
        .card-body .card-text,
        .card-body .btn {
            padding-top: 5px;
            padding-bottom: 7px;
        }
</style>


<div class="container-fluid py-5">
    <h2 class="text-center animate__animated animate__fadeInDown">Kegiatan Mahasiswa</h2>
    <div class="row g-3 py-5 animate__animated animate__fadeInLeftBig">
        @foreach (var kegiatan in Model)
        {
            var fotoThumnail = (await RepostoriFoto.GetAllByKegiatan(kegiatan.Id))
                .OrderBy(f => f.Tanggal)
                .FirstOrDefault();

            string url = fotoThumnail is null ?
            "/img/LOGO_SITE-removebg-preview.png" : Url.Action("Foto", "File", new { Area = "", Id = fotoThumnail.Id });


            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-md-5">
                            <!-- Gambar di kiri -->
                            <img src="@url" 
                                 class="card-img img-fluid rounded-start" alt="Foto Card" />
                        </div>
                        <div class="col-12 col-md-7">
                            <!-- Card-body di kanan -->
                            <div class="card-body d-flex flex-column">
                                <div class="h-100">
                                    <h3 class="card-title">@kegiatan.TempatKegiatan</h3>
                                    <h2 class="card-title">@kegiatan.NamaKegiatan</h2>
                                    <p class="card-text">
                                        @kegiatan.Keterangan
                                    </p>
                                    <h4 class="card-title mb-3">
                                        @kegiatan.Tanggal.ToShortDateString()
                                    </h4>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-dark w-100">
                                            <i class="ri-search-2-line me-1"></i>
                                            Peserta
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-dark w-100">
                                            <i class="ri-search-2-line me-1"></i>
                                            Detail
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_DataTable"></partial>
}