@model List<Kegiatan>
@{
    ViewData["title"] = "Kegiatan";
    ViewData["Active"] = "Kegiatan";
}

<div class="pt-5 mx-4">
    <h2>Daftar Kegiatan</h2>
    <div class="row">
        <div class="col">
            <table class="table table-bordered reponsive">
                <thead>
                    <tr>
                        <th>
                            Nama Kegiatan
                        </th>
                        <th>
                            Tempat Kegiatan
                        </th>
                        <th>
                            Tanggal Mulai
                        </th>
                        <th>
                            Tanggal Berakhir
                        </th>
                        <th>
                            Aksi
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kegiatan in Model)
                    {
                        <tr>
                            <td>@kegiatan.NamaKegiatan</td>
                            <td>@kegiatan.TempatKegiatan</td>
                            <td>@kegiatan.TanggalMulai.ToShortDateString()</td>
                            <td>@kegiatan.TanggalBerakhir.ToShortDateString()</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-warning"
                                       asp-controller="Kegiatan" asp-action="Detail" asp-route-id="@kegiatan.Id">
                                        <i class='fas fa-eye' style='color:#ffffff'></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_DataTable"></partial>
}