@model MahasiswaPickerVM
@{
    var Id = string.Join("", Guid.NewGuid().ToString().Split('-'));
}

<div id="input-container@(Id)">
    @foreach (var id in Model.DaftarIdMahasiswa)
    {
        <input hidden type="text" name="@Model.Name" id="@Model.Name" class="form-control" value="@id" readonly />
    }
</div>
<table class="table" id="preview@(Id)">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var id in Model.DaftarIdMahasiswa)
        {
            var mahasiswa = Model.DaftarMahasiswa.Find(m => m.Id == id);

            <tr>
                <td>@mahasiswa!.Nim</td>
                <td>@mahasiswa!.NamaLengkap</td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#modal@(Id)">
    Pilih
    Mahasiswa
</button>

<div class="modal fade" id="modal@(Id)" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal@(Id)"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal@(Id)">Pilih Mahasiswa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <table class="table" id="data@(Id)">
                                @foreach (var mahasiswa in Model.DaftarMahasiswa)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="selected" class="form-check" />
                                        </td>
                                        <td>
                                            <input type="text" id="id" readonly class="form-control"
                                                   value="@mahasiswa.Id" />
                                        </td>
                                        <td>
                                            <input type="text" id="nim" readonly class="form-control"
                                                   value="@mahasiswa.Nim" />
                                        </td>
                                        <td>
                                            <input type="text" id="nama" readonly class="form-control"
                                                   value="@mahasiswa.NamaLengkap" />
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="selesai" class="btn btn-custom" data-bs-dismiss="modal">Selesai</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $(function () {
            const inputName = '@(Model.Name)';
            const multi = @(Model.Multi.ToString().ToLower());

            const containerInput = $('#input-container@(Id)')
            const tablePreview = $('#preview@(Id) > tbody');
            const buttonSelesai = $('button#selesai');
            const tableData = $('#data@(Id) tr');

            buttonSelesai.on('click', () => {
                containerInput.html('');
                tablePreview.html('');

                tableData.each((index, item) => {
                    const mahasiswa = {
                        selected: $(item).find('input#selected').prop('checked'),
                        id: $(item).find('input#id').val(),
                        nim: $(item).find('input#nim').val(),
                        nama: $(item).find('input#nama').val(),
                    };

                    if (mahasiswa.selected) {
                        containerInput.append(`<input name="${inputName}" id="${inputName}" value="${mahasiswa.id}" hidden type="text" readonly />`);
                        tablePreview.append(`<tr><td>${mahasiswa.nim}</td><td>${mahasiswa.nama}</td></tr>`);
                    }
                });
            });

            if (!multi) {
                let indexTerpilih = null;

                const updateUI = () => {
                    tableData.each((item, index) => {
                        if (index === indexTerpilih) {
                            $(item).find('input#selected').prop('checked', true);
                        } else {
                            $(item).find('input#selected').prop('checked', false);
                        }
                    });
                }

                tableData.each((item, index) => {
                    $(item).find('input#selected').on('change', function () {
                        $(this).prop('checked', true);
                        indexTerpilih = index;
                        updateUI();
                    })
                });

                const idMahasiswa = containerInput.find(`input#${inputName}`).first().val();
                if (idMahasiswa) {
                    tableData.filter((index, item) => $(item).find('input#id').val() == idMahasiswa)
                        .first().find('input#selected').prop('checked', true);
                }
            } else {
                containerInput.find(`input#${inputName}`).each((index, item) => {
                    const idMahasiswa = $(item).val();
                    tableData.filter((index, item) => $(item).find('input#id').val() == idMahasiswa)
                        .first().find('input#selected').prop('checked', true);
                })
            }
        });
    });
</script>