@model MahasiswaPickerVM
@{
    var Id = string.Join("", Guid.NewGuid().ToString().Split('-'));
}
<style>
    label {
        display: inline-block;
        margin-bottom: 10px;
    }
</style>

<div id="input-container@(Id)">
    @foreach (var id in Model.DaftarIdMahasiswa)
    {
        <input hidden type="text" name="@Model.Name" id="@Model.Name" class="form-control" value="@id" readonly />
    }
</div>
<div class="">
    <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#modal@(Id)">
        Pilih Mahasiswa
    </button>
</div>
<table class="table luar" id="preview@(Id)">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var id in Model.DaftarIdMahasiswa)
        {
            var mahasiswa = Model.DaftarMahasiswa.FirstOrDefault(m => m.Id == id);
            if (mahasiswa is not null)
            {
                <tr>
                    <td>@mahasiswa.Nim</td>
                    <td>@mahasiswa.NamaLengkap</td>
                </tr>
            }
        }
    </tbody>
</table>


<div class="modal fade" id="modal@(Id)" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal@(Id)"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal@(Id)">Pilih Mahasiswa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col check-box">
                            <input type="checkbox" id="pilihSemua@(Id)" name="pilihSemua@(Id)" class="form-check-input" />
                            <label class="form-check-label" for="pilihSemua@(Id)">Pilih Semua Mahasiswa</label>
                        </div>
                    </div>
                    <div class="divider mb-3">
                        <div class="line"></div>
                        <p style="margin: 25px 0px;">atau</p>
                        <div class="line"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table dalam" id="data@(Id)">
                                <thead style="display:none">
                                    <tr>
                                        <th width="40%">NIM</th>
                                        <th width="40%">Nama</th>
                                        <th>Pilih</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var mahasiswa in Model.DaftarMahasiswa)
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" id="nim" hidden readonly class="form-control"
                                                       value="@mahasiswa.Nim" />
                                                @mahasiswa.Nim
                                            </td>
                                            <td>
                                                <input type="text" id="nama" hidden readonly class="form-control"
                                                       value="@mahasiswa.NamaLengkap" />
                                                @mahasiswa.NamaLengkap
                                            </td>
                                            <td>
                                                <input type="checkbox" id="selected" class="form-check" />
                                                <input type="text" id="id" readonly class="form-control"
                                                       hidden="hidden"
                                                       value="@mahasiswa.Id" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="selesai" class="btn btn-custom" data-bs-dismiss="modal">Selesai</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $(function () {
            const inputName = '@(Model.Name)';
            const multi = @(Model.Multi.ToString().ToLower());

            const containerInput = $('#input-container@(Id)')
            const tablePreview = $('#preview@(Id) > tbody');
            const buttonSelesai = $('button#selesai');
            const tableData = $('#data@(Id) tr');
            const pilihSemua = $('#pilihSemua@(Id)');

            mahasiswaPicker({
                inputName,
                multi,
                containerInput,
                tablePreview,
                buttonSelesai,
                tableData,
                pilihSemua
            });
        });
    });
</script>