@model Kegiatan
@{
    ViewData["Title"] = "Detail";
}

<div class="detail-kegiatan">
    <!-- Hyperlink -->
    <h1 class="title">Detail Kegiatan</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Kegiatan</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Detail Kegiatan</a></li>
    </ul>
    <!-- Akhir Hyperlink -->

    <div class="cardplus mb-4">
        <div class="row">
            <div class="col-6"><b>ID</b></div>
            <div class="col-6">@Model.Id</div>
        </div>
        <div class="row">
            <div class="col-6"><b>Nama Kegiatan</b></div>
            <div class="col-6">@Model.NamaKegiatan</div>
        </div>
        <div class="row">
            <div class="col-6"><b>Tempat Kegiatan</b></div>
            <div class="col-6">@Model.TempatKegiatan</div>
        </div>
        <div class="row">
            <div class="col-6"><b>Tanggal</b></div>
            <div class="col-6">@Model.Tanggal.ToShortDateString()</div>
        </div>
        <div class="row">
            <div class="col-6"><b>Jumlah Hari</b></div>
            <div class="col-6">@Model.JumlahHari</div>
        </div>
        <div class="row">
            <div class="col-6"><b>Keterangan</b></div>
            <div class="col-6">@Model.Keterangan</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="cardplus">
                <h3 class="text-center">Peserta Kegiatan</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>NIM</th>
                            <th>Nama Lengkap</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mahasiswa in Model.DaftarMahasiswa)
                        {
                            <tr>
                                <td>@mahasiswa.Nim</td>
                                <td>@mahasiswa.NamaLengkap</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cardplus">
                <h3 class="text-center">Daftar Foto</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tanggal</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var foto in Model.DaftarFoto)
                        {
                            <tr>
                                <td>@foto.Id</td>
                                <td>@foto.AddedAt.ToShortDateString()</td>
                                <td>
                                    <img width="120" src="@Url.ActionLink("Foto", "File", new { Id = foto.Id, Area = "" })" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a asp-action="Index" class="btn btn-primary mt-4">Kembali</a>
</div>

@section Scripts {
    <partial name="_DataTable" />
}
