@model EditKegiatanVM
@{
    ViewData["Title"] = "Edit Kegiatan";
}

<div class="edit-kegiatan">
    <!-- Hyperlink -->
    <h1 class="title">Edit Kegiatan</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Kegiatan</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Edit Kegiatan</a></li>
    </ul>
    <!-- Akhir Hyperlink -->
    <div class="container-fluid cardplus">
        <form asp-action="EditKegiatan" method="post" class="row" enctype="multipart/form-data">
            <div class="text-danger" asp-validation-summary="All"></div>

            <input type="text" asp-for="@Model.Id" hidden="hidden">

            <div class="col-12 mb-2">
                <label asp-for="@Model.IdThumbnail" class="form-label"></label>
                <span asp-validation-for="@Model.IdThumbnail" class="form-text text-danger"></span>
                <vc:foto-picker name="@nameof(EditKegiatanVM.IdThumbnail)" multi=@false 
                    value=@(Model.IdThumbnail is not null ? new(){ Model.IdThumbnail.Value } : null)></vc:foto-picker>
            </div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.NamaKegiatan"></label>
                <input class="form-control" type="text" asp-for="@Model.NamaKegiatan" spellcheck="false">
                <span class="text-danger" asp-validation-for="@Model.NamaKegiatan"></span>
            </div>
            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.TempatKegiatan"></label>
                <input class="form-control" type="text" asp-for="@Model.TempatKegiatan" spellcheck="false">
                <span class="text-danger" asp-validation-for="@Model.TempatKegiatan"></span>
            </div>
            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.Tanggal"></label>
                <input class="form-control" type="date" asp-for="@Model.Tanggal">
                <span class="text-danger" asp-validation-for="@Model.Tanggal"></span>
            </div>
            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.JumlahHari"></label>
                <input class="form-control" type="number" asp-for="@Model.JumlahHari" spellcheck="false">
                <span class="text-danger" asp-validation-for="@Model.JumlahHari"></span>
            </div>
            <div class="col-12 mb-2 input-box">
                <label asp-for="@Model.Keterangan"></label>
                <textarea class="form-control" type="text" rows="5" cols="30" asp-for="@Model.Keterangan" spellcheck="false"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Keterangan"></span>
            </div>

            <div class="col-12 mb-2">
                <label asp-for="@Model.DaftarIdFoto" class="form-label"></label>
                <span class="text-danger form-text" asp-validation-for="@Model.DaftarIdFoto"></span>
                <vc:foto-picker name=@nameof(EditKegiatanVM.DaftarIdFoto) multi=true value=@Model.DaftarIdFoto>
                </vc:foto-picker>
            </div>

            <div class="col-12 mb-2">
                <label asp-for="@Model.DaftarIdMahasiswa" class="form-label"></label>
                <span class="text-danger form-text" asp-validation-for="@Model.DaftarIdMahasiswa"></span>
                <vc:mahasiswa-picker input-name=@nameof(EditKegiatanVM.DaftarIdMahasiswa) multi=true value=@Model.DaftarIdMahasiswa>
                </vc:mahasiswa-picker>
            </div>

            <div class="col-md-12 mt-5 d-flex justify-content-start">
                <button class="btn btn-custom me-2" type="submit">Simpan</button>
                <a class="btn-customdel" asp-action="Index">
                    Batal
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTableScroll" />
}
