@model List<Kegiatan>
@{
    ViewData["Title"] = "Kegiatan - Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Daftar Kegiatan</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-stripped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nama</th>
                        <th>Tanggal Mulai</th>
                        <th>Tanggal Berakhir</th>
                        <th>Tempat Kegiatan</th>
                        <th>Keterangan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kegiatan in Model)
                    {
                        <tr>
                            <td>@kegiatan.Id</td>
                            <td>@kegiatan.NamaKegiatan</td>
                            <td>@kegiatan.TanggalMulai.ToShortDateString()</td>
                            <td>@kegiatan.TanggalBerakhir.ToShortDateString()</td>
                            <td>@kegiatan.TempatKegiatan</td>
                            <td>@kegiatan.Keterangan</td>
                            <td>
                                <div class="d-flex gap-1 justify-content-start">
                                    <a class="btn btn-warning" asp-action="Detail"><i class='fas fa-eye' style='color:#ffffff'></i></a>
                                    <a class="btn btn-primary"><i class="fas fa-pen-square fa-lg"></i></a>
                                    <form asp-action="Delete" asp-route-id="@kegiatan.Id" method="post">
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-regular fa-trash"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_DataTable" />
}