@using webSITE.DataAccess.Repositori.Interface;
@model TambahFotoDiKegiatanVM
@inject IRepositoriKegiatan RepositoriKegiatan
@{
    var kegiatan = RepositoriKegiatan.Get(Model.IdKegiatan).Result;
    ViewData["Title"] = "Tambah Foto Di Kegiatan";
}

<h1 class="text-center">Tambah Foto Di Kegiatan</h1>
<form class="container" enctype="multipart/form-data" method="post" asp-action="TambahFoto" asp-area="Dashboard" asp-controller="Kegiatan">
    <input type="text" asp-for="@Model.NextUrl" hidden>
    <input type="text" asp-for="@Model.IdKegiatan" hidden>
    <div class="row">
        <div class="col-12">
            <b>Nama Kegiatan</b> : @kegiatan.NamaKegiatan
        </div>
        <div class="col-12">
            <b>Tanggal</b> : @kegiatan.Tanggal.ToShortDateString()
        </div>
        <div class="col-12">
            <b>Jumlah Hari</b> : @kegiatan.JumlahHari
        </div>
    </div>
    <div class="row justify-content-between">
        <div id="fotoGrid" class="col-md-6 scrollable border border-3 p-1">
            Foto Tanpa Kegiatan
            <div class="row">
                @if (Model.FotoTanpaKegiatan != null)
                {
                    @for (int i = 0; i < Model.FotoTanpaKegiatan.Count; i++)
                    {
                        <div id="fotoItem" data-id="@Model.FotoTanpaKegiatan[@i].IdFoto" class="col-4 mb-1">
                            <input id="checkboxDalamFoto" type="checkbox" asp-for="@Model.FotoTanpaKegiatan[@i].DalamKegiatan" hidden>
                            <input id="idFoto" type="text" asp-for="@Model.FotoTanpaKegiatan[@i].IdFoto" hidden>
                            <img id="foto" class="img-fluid border border-2"
                                 src="@Url.Action("Foto", "File", new {Area = "", Id = Model.FotoTanpaKegiatan[@i].IdFoto})">
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-6 scrollable border border-3 p-1">
            Foto Terpilih
            <div id="fotoTerpilih" class="row">
            </div>
        </div>
        <div class="col-md-12 mt-3 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit" asp-route-fotoBaru="false">Simpan</button>
        </div>
    </div>
    <div class="row border border-2 mt-4">
        <div class="col-12">
            <h2 class="text-center">Tambah Foto Baru</h2>
        </div>

        <div class="col-12 mt-3">
            <label asp-for="@Model.FotoBaru.Tanggal"></label>
            <input class="form-control" type="date" asp-for="@Model.FotoBaru.Tanggal">
            <span asp-validation-for="@Model.FotoBaru.Tanggal" class="text-danger"></span>
        </div>

        <div class="col-12 mt-3">
            <label>Dalam Foto</label>
            <div class="d-flex justify-content-start gap-1" id="tagContainer">
            </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Nama Mahasiswa</th>
                    </tr>
                </thead>
                <tbody id="daftarMahasiswa">
                    @if(Model.FotoBaru.DaftarMahasiswa != null)
                    {
                        @for (int i = 0; i < Model.FotoBaru.DaftarMahasiswa.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input id="idMahasiswa" type="text"
                                           asp-for="@Model.FotoBaru.DaftarMahasiswa[@i].IdMahasiswa" hidden>
                                    <input id="checkboxMahasiswa" type="checkbox"
                                           asp-for="@Model.FotoBaru.DaftarMahasiswa[@i].Included" hidden>
                                    <input id="namaMahasiswa" type="text"
                                           asp-for="@Model.FotoBaru.DaftarMahasiswa[@i].NamaLengkap"
                                           readonly="true">
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 mt-3">
            <label asp-for="@Model.FotoBaru.FotoFormFile"></label>
            <input class="form-control" type="file" asp-for="@Model.FotoBaru.FotoFormFile">
            <span asp-validation-for="@Model.FotoBaru.FotoFormFile" class="text-danger"></span>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit" asp-route-fotoBaru="true">Tambah Foto</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTableScroll" />

    <script type="text/javascript">

        const removeTag = (idMahasiswa) => {
            $('#tagContainer #' + idMahasiswa).remove();
        };

        const addTag = (idMahasiswa, namaMahasiswa) => {
            $('#tagContainer').append(`
                                      <div id="` + idMahasiswa + `" class="tag">
                                          <div id="namaMahasiswa">`+ namaMahasiswa + `</div>
                                          <button type="button" class="close" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      `);

            $('#tagContainer #' + idMahasiswa + ' .close').on('click', function () {
                removeTag(idMahasiswa);
            });
        }

        const selectedStyle = {
            'background': 'blue',
            'color': 'white'
        };

        const unselectedStyle = {
            'background': 'white',
            'color': 'black'
        };

        $('#daftarMahasiswa > tr').each(function (index, item) {
            $(item).on('click', function () {
                const checkBox = $(item).find('#checkboxMahasiswa').prop('checked');
                const newCheckBox = !checkBox;
                const idMahasiswa = $(item).find('#idMahasiswa').val();
                const namaMahasiswa = $(item).find('#namaMahasiswa').val();

                if (newCheckBox === true) {
                    $(item).css(selectedStyle);
                    addTag(idMahasiswa, namaMahasiswa);
                }
                else {
                    $(item).css(unselectedStyle);
                    removeTag(idMahasiswa);
                }

                $(item).find('#checkboxMahasiswa').prop('checked', newCheckBox);
            });
        });

    </script>

    <script type="text/javascript">
        const getHtmlFotoTerpilih = (idFoto) => {
            const url = "/File/Foto/" + idFoto;

            return `<div id="` + idFoto + `" class="mb-1 col-4">
                        <img class="img-fluid border border-1" src="` + url + `">
                    </div>`;
        };

        const removeFoto = (idFoto) => {
            $('#fotoGrid #fotoItem[data-id="' + idFoto + '"]').css({
                'display': 'block'
            });

            $('#fotoGrid #fotoItem[data-id="' + idFoto + '"]').find('#checkboxDalamFoto').prop('checked', false);

            $('#fotoTerpilih #' + idFoto).remove();
        }

        const addFoto = (idFoto) => {
            const html = getHtmlFotoTerpilih(idFoto);

            $('#fotoGrid #fotoItem[data-id="' + idFoto + '"]').css({
                'display': 'none'
            });

            $('#fotoTerpilih').append(html);

            $('#fotoTerpilih #' + idFoto).on('click', function () {
                removeFoto(idFoto);
            });
        };

        const init = () => {
            $('#fotoGrid #fotoItem').each(function (index, item) {
                const idFoto = $(item).find('#idFoto').val();
                const val = $(item).find('#checkboxDalamFoto').prop('checked');

                if (val === true) {
                    addFoto(idFoto);
                }

                $(item).on('click', function () {

                    const checked = $(item).find('#checkboxDalamFoto').prop('checked');
                    const newChecked = !checked;

                    if (newChecked === true) {
                        addFoto(idFoto);
                    }

                    $(item).find('#checkboxDalamFoto').prop('checked', newChecked);
                });
            });
        };

        init();
    </script>
}