@model TambahMahasiswaDiKegiatanVM
@{
    ViewData["Title"] = "Tambah Mahasiswa Di Kegiatan";
}

<h1 class="text-center">Tambah Mahasiswa Di Kegiatan</h1>
<form class="container" method="post" asp-action="TambahMahasiswa" asp-controller="Kegiatan" asp-area="Dashboard">
    <input type="text" asp-for="@Model.IdKegiatan" hidden>
    <input type="text" asp-for="@Model.NextUrl" hidden="hidden">
    <div class="row">
        <div class="col-12"><b>Nama Kegiatan</b> : @Model.NamaKegiatan</div>
        <div class="col-12"><b>Tanggal Kegiatan</b> : @Model.Tanggal.ToShortDateString()</div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <label><b>Peserta Kegiatan</b></label>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama Mahasiswa</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.NamaPesertaKegiatan.Count; i++)
                    {
                        <tr>
                            <td>@Model.NamaPesertaKegiatan[@i]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <label><b>Dalam Kegiatan</b></label>
            <div class="d-flex justify-content-start gap-1" id="tagContainer">
            </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Nama Mahasiswa</th>
                    </tr>
                </thead>
                <tbody id="daftarMahasiswa">
                    @for (int i = 0; i < Model.DaftarPesertaBaru.Count; i++)
                    {
                        <tr>
                            <td>
                                <input id="idMahasiswa" type="text"
                                       asp-for="@Model.DaftarPesertaBaru[@i].IdMahasiswa" hidden>
                                <input id="checkboxMahasiswa" type="checkbox"
                                       asp-for="@Model.DaftarPesertaBaru[@i].Included" hidden>
                                <input id="namaMahasiswa" type="text"
                                       asp-for="@Model.DaftarPesertaBaru[@i].NamaLengkap"
                                       readonly="true">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Simpan</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTable" />

    <script type="text/javascript">

        const removeTag = (idMahasiswa) => {
            $('#tagContainer #' + idMahasiswa).remove();
        };

        const addTag = (idMahasiswa, namaMahasiswa) => {
            $('#tagContainer').append(`
                             <div id="` + idMahasiswa + `" class="tag">
                                 <div id="namaMahasiswa">`+ namaMahasiswa + `</div>
                                 <button type="button" class="close" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                 </button>
                             </div>
                             `);

            $('#tagContainer #' + idMahasiswa + ' .close').on('click', function () {
                removeTag(idMahasiswa);
            });
        }

        const selectedStyle = {
            'background': 'blue',
            'color': 'white'
        };

        const unselectedStyle = {
            'background': 'white',
            'color': 'black'
        };

        $('#daftarMahasiswa > tr').each(function (index, item) {
            $(item).on('click', function () {
                const checkBox = $(item).find('#checkboxMahasiswa').prop('checked');
                const newCheckBox = !checkBox;
                const idMahasiswa = $(item).find('#idMahasiswa').val();
                const namaMahasiswa = $(item).find('#namaMahasiswa').val();

                if (newCheckBox === true) {
                    $(item).css(selectedStyle);
                    addTag(idMahasiswa, namaMahasiswa);
                }
                else {
                    $(item).css(unselectedStyle);
                    removeTag(idMahasiswa);
                }

                $(item).find('#checkboxMahasiswa').prop('checked', newCheckBox);
            });
        });

    </script>
}