@model Mahasiswa

@{
    ViewData["title"] = "Profil";
    ViewData["Active"] = "Siters";
    var cultureInfo = new CultureInfo("id-ID");
}

<style>
    /* ==== CSS Global Halaman Detail Mahasiswa ==== */
    :root {
        --clr-primary: rgb(35, 35, 85);
        --clr-primary2: rgb(30, 30, 64);
        --clr-gray: #37474f;
        --clr-gray-light: #b0bec5;
    }
    /* ==== CSS Global Halaman Detail Mahasiswa ==== */

    /* ==== CSS Section Detail Mahasiswa ==== */
    .container-fluid {
        padding: 20px;
    }

    .profile-section {
        margin-bottom: 0px;
    }

    .biodata-section,
    .album-section,
    .profile-img-container,
    .sosmed-section {
        padding: 20px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: white;
    }

    .kegiatan-section {
        padding: 20px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: white;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        color: rgb(35, 35, 85);
    }

    .divider {
        height: 2px;
        background-color: #e0e0e0;
        margin: 20px 0;
    }

    .btn-back {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: var(--clr-primary);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        right: 20px;
        bottom: 20px;
    }

        .btn-back:hover {
            background-color: var(--clr-primary2);
            color: white;
        }

    .img-thumbnail {
        max-width: 100%;
        height: auto;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

    .social-icons a {
        font-size: 2rem;
        color: var(--clr-primary);
        margin: 0 10px;
    }

        .social-icons a:hover {
            color: var(--clr-primary2);
        }
    /* ==== Akhir CSS Global Halaman Mahasiswa ==== */
</style>

<!-- ==== Section Detail Mahasiswa ==== -->
@if (Model != null)
{
    <div class="container-fluid pt-4 position-relative">
        <div class="row">
            <div class="col-md-6 profile-section">
                <!-- Card Foto Mahasiswa -->
                <div class="profile-img-container d-flex justify-content-center mb-4">
                    <img src="@Url.ActionLink("FotoProfil", "File", new { Id = Model.Id, Area = "" })" class="img-thumbnail" height="250" width="250" />
                </div>
                <!-- Card Biodata Mahasiswa -->
                <div class="biodata-section mb-4">
                    <h3 class="text-center">Biodata</h3>
                    <div class="divider"></div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <b>NIM</b>
                        </div>
                        <div class="col-6">
                            @Model.Nim
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <b>Nama Lengkap</b>
                        </div>
                        <div class="col-6">
                            @Model.NamaLengkap
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <b>Nama Panggilan</b>
                        </div>
                        <div class="col-6">
                            @Model.NamaPanggilan
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <b>Jenis Kelamin</b>
                        </div>
                        <div class="col-6">
                            @Model.StrJenisKelamin
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <b>Tanggal Lahir</b>
                        </div>
                        <div class="col-6">
                            @Model.TanggalLahir.ToString("dd MMMM yyyy", cultureInfo)
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <b>Bio</b>
                        </div>
                        <div class="col-6">
                            @Model.Bio
                        </div>
                    </div>
                </div>
                <!-- Card Media Sosial Mahasiswa -->
                <div class="sosmed-section">
                    <h3 class="text-center">Media Sosial</h3>
                    <div class="divider"></div>
                    <div class="d-flex justify-content-center social-icons">
                        <a href="@Model.InstagramProfileLink?.AbsoluteUri" target="_blank" title="Instagram"><i class="ri-instagram-line"></i></a>
                        <a href="@Model.FacebookProfileLink?.AbsoluteUri" target="_blank" title="Facebook"><i class="ri-facebook-box-line"></i></a>
                        <a href="@Model.TikTokProfileLink?.AbsoluteUri" target="_blank" title="TikTok"><i class="ri-tiktok-line"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Card kegiatan Mahasiswa -->
                <div class="kegiatan-section">
                    <h3 class="text-center">Kegiatan</h3>
                    <div class="divider"></div>
                    <div class="row">
                        @if (Model.DaftarKegiatan != null && Model.DaftarKegiatan.Count > 0)
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="50%">Nama</th>
                                            <th width="50%">Tempat</th>
                                            <th width="50%">Tanggal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var kegiatan in Model.DaftarKegiatan)
                                        {
                                            <tr>
                                                <td>@kegiatan.NamaKegiatan</td>
                                                <td>@kegiatan.TempatKegiatan</td>
                                                <td>@kegiatan.Tanggal.ToShortDateString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <h6 class="text-center">Tidak Ada Kegiatan Yang Pernah Diikuti</h6>
                        }
                    </div>
                </div>

                <!-- Card Album Mahasiswa -->
                <div class="album-section">
                    <h3 class="text-center">Album Foto</h3>
                    <div class="divider"></div>
                    <div class="row">
                        @if (Model.DaftarFoto != null && Model.DaftarFoto.Count > 0)
                        {
                            @foreach (var foto in Model.DaftarFoto)
                            {
                                <div class="col-md-3 col-6 mb-3">
                                    <img src="@Url.ActionLink("Foto", "File", new { Id = foto.Id, Area = "" })" class="img-fluid" />
                                </div>
                            }
                        }
                        else
                        {
                            <h6 class="text-center">Tidak Ada Foto</h6>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Tombol Kembali -->
        <a asp-controller="Mahasiswa" asp-action="Index" style="margin-left: 10px;" class="btn-back py-2">Kembali</a>
    </div>
}
<!-- ==== Akhir Section Detail Mahasiswa ==== -->


<!-- ====== Section Javascript ====== -->
@section Scripts {
    <partial name="_DataTable"></partial>
}