@model PaginatedList<Mahasiswa>
@{
    ViewData["title"] = "Siters";
    ViewData["Active"] = "Siters";
}

<style>
    :root {
        --clr-primary: rgb(35, 35, 85);
        --clr-primary2: rgb(30, 30, 64);
        --clr-gray: #37474f;
        --clr-gray-light: #b0bec5;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        color: var(--clr-gray);
    }

    .container-mahasiswa {
        padding: 2vw 7vw 2vw 7vw;
        margin: 0;
    }

    .wrapper-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 2rem;
        margin: 1rem 0;
    }

    .container-siters {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
        text-align: center;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
    }

    .cover-profile-img {
        width: 128px;
        height: 128px;
        clip-path: circle(60px at center);
        margin-top: 1rem;
        margin: 0 auto;
        overflow: hidden;
    }

        .profile-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            object-fit: cover;
        }

    .name-profile {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    .name2-profile {
        font-size: 1.1rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .bio {
        margin: 1rem auto;
        font-size: 0.9rem;
        width: 80%;
        text-align: center;
    }

    .btn-profile {
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background: rgb(35, 35, 85);
        padding: 1rem;
        margin-top: auto;
        text-decoration: none;
        display: inline-block;
    }

        .btn-profile:hover {
            text-decoration: none;
            background: rgb(30, 30, 64);
            color: white;
        }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-profile,
    .name2-profile {
        width: 100%;
    }

    /* Pencarian */
    .search-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    .search-input {
        width: 43%; /* Disini Atur Panjang Container Pencariannya bang Albert */
        padding: 10px;
        border: 1.5px solid var(--clr-gray-light);
        border-radius: 5px 0 0 5px;
        font-size: 1rem;
        margin-right: 0;
    }

    .search-button {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: rgb(21, 21, 100);
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

        .search-button:hover {
            background-color: rgb(35, 35, 85);
        }
    /* Akhir Pencarian */

    /* Tombol Sebelumnya dan Selanjutnya */
    .pagination-container {
        text-align: center;
        margin-top: 2rem;
    }

    .pagination-button {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: var(--clr-primary);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 5px;
        text-decoration: none;
    }

        .pagination-button.disabled {
            background-color: var(--clr-gray-light);
            cursor: not-allowed;
            color: white;
        }

        .pagination-button:hover:not(.disabled) {
            background-color: var(--clr-primary2);
            color: white;
        }
    /* Akhir Tombol Sebelumnya dan Selanjutnya */
</style>
<div class="container-mahasiswa">
    <h2 class="text-center pt-2 animate__animated animate__fadeInDown">Mahasiswa SITE22</h2>

    <form asp-action="Index" method="get">
        <div class="search-container animate__animated animate__fadeIn">
            <input type="text" name="searchString" class="search-input" placeholder="Cari mahasiswa..." value="@ViewData["searchString"]">
            <button type="submit" class="search-button">Cari</button>
        </div>
    </form>

    <div class="wrapper-grid pt-5 animate__animated animate__fadeInLeftBig pb-4">
        @foreach (var mahasiswa in Model)
        {
            <div class="container-siters">
                <div class="cover-profile-img">
                    <img src="@Url.ActionLink("FotoProfil", "File", new {Id = mahasiswa.Id, Area = ""})" alt="Foto @mahasiswa.NamaLengkap" class="profile-img" />
                </div>
                <div class="text-container">
                    <h1 class="name-profile">@mahasiswa.NamaPanggilan</h1>
                    <h1 class="name2-profile">@mahasiswa.Nim</h1>
                </div>
                <p class="bio">
                    @mahasiswa.Bio
                </p>
                <a asp-controller="Mahasiswa" asp-action="Detail" asp-route-id="@mahasiswa.Id" class="btn-profile">Cek Profile</a>
            </div>
        }
    </div>

    @{
        var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
        var nextDisabled = Model.HasNextPage ? "" : "disabled";
    }

    <div class="pagination-container mb-4">
        <a class="pagination-button btn @prevDisabled"
           asp-action="Index"
           asp-route-pageIndex="@(Model.PageIndex - 1)">
            Sebelumnya
        </a>
        <a class="pagination-button btn @nextDisabled"
           asp-action="Index"
           asp-route-pageIndex="@(Model.PageIndex + 1)">
            Selanjutnya
        </a>
    </div>
</div>