@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Mahasiswa>
@{
    ViewData["title"] = "Siters";
    ViewData["Active"] = "Siters";
}

<style>

    :root {
        --clr-primary: #651fff;
        --clr-primary2: #651fff;
        --clr-gray: #37474f;
        --clr-gray-light: #b0bec5;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        color: var(--clr-gray);
    }

    .wrapper-grid {
        display: grid;
        grid-template-columns: minmax(300px, 1fr);
        justify-content: center;
        grid-gap: 2rem;
        margin: 1rem;
    }



    .container-siters {
        box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
        text-align: center;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 20px;
    }



    .profile-img {
        width: 8rem;
        clip-path: circle(60px at center);
        margin-top: 1rem;
        margin: 0 auto;
    }

    .name-profile {
        font-size: 1.5rem;
    }

    .name2-profile {
        font-size: 1.2rem;
    }

    .bio {
        margin: 1rem auto;
        font-size: 0.9rem;
        width: 50%;
        text-align: center;
    }


    .btn-profile {
        box-sizing: border-box;
        width: calc(100% + 40px);
        border: none;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background: #6b43ff;
        padding: 1rem;
        margin-top: auto;
        margin-left: -20px;
        text-decoration: none;
    }

        .btn-profile:hover {
            text-decoration: none;
            background: #5222fd;
            color: white;
        }

</style>

<h2 class="text-center pt-5 animate__animated animate__fadeInDown">Mahasiswa SITE22</h2>
<div class="wrapper-grid pt-5 animate__animated animate__fadeInLeftBig">
    @foreach (var mahasiswa in Model)
    {
        <div class="container-siters">
            <div class="banner-img"></div>
            <img src="@Url.ActionLink("FotoProfil", "File", new {Id = mahasiswa.Id, Area = ""})" alt="Foto @mahasiswa.NamaLengkap" class="profile-img" />
            <h1 class="name-profile">@mahasiswa.NamaLengkap</h1>
            <h1 class="name2-profile">@mahasiswa.Nim</h1>
            <p class="bio">
                @mahasiswa.Bio
            </p>
            <a asp-controller="Mahasiswa" asp-action="Detail" asp-route-id="@mahasiswa.Id" class="btn-profile">Cek Profile</a>
        </div>
    }
</div>
