@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Mahasiswa>
@{
    ViewData["title"] = "Siters";
}

<style>
    .img-thumbnail {
        transform: rotate(0) scale(1);
        transition: transform .3s ease-in;
    }

        .img-thumbnail:hover {
            transform: rotate(5deg) scale(1.3);
        }
</style>


<div class="container-fluid mt-4">
    <div class="row">
        @foreach (var mahasiswa in Model)
        {
            <div class="col-md-3 mx-auto p-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@mahasiswa.NamaLengkap</h5>
                    </div>
                    <a asp-controller="Mahasiswa" asp-action="Detail" asp-route-nim="@mahasiswa.Nim" style="overflow:hidden;">
                        <img class="card-img img-thumbnail" src="@mahasiswa.PhotoPath" alt="Foto @mahasiswa.NamaLengkap">
                    </a>
                    <div class="card-footer">
                        <a asp-controller="Mahasiswa" asp-action="Detail" asp-route-nim="@mahasiswa.Nim"
                           class="btn btn-primary">
                            Profil
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@{
}
