@using Humanizer
@model TambahPesertaVM
@{
    ViewData["Title"] = "Daftar";
    ViewData["Active"] = "Pensi";
}

<style>
    :root {
        --hue: 312;
        --first-color: hsl(var(--hue), 24%, 32%);
        --first-color-alt: hsl(var(--hue), 24%, 28%);
    }

    body {
        background: none; 
    }

    .bg-pendaftaran-solo img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; 
    }

    .btn-custom {
        background-color: var(--first-color);
        border: none;
    }

        .btn-custom:hover {
            background-color: var(--first-color-alt);
        }
</style>


<div class="bg-pendaftaran-solo">
    <img src="~/img/bg-pendafataran-pensi.jpg" alt="Background Image" />
</div>

<div class="container-lomba-solo animate__animated animate__fadeInDownBig">
    <partial name="_MenuPartial" model=@false />

    <div class="judul-lomba">
        <h3>Pendaftaran Lomba</h3>
        <p>Silakan isi form di bawah ini untuk mendaftar</p>
    </div>
    <div class="container-ketentuan">
        <a href="@ViewData["PDFPath"]" target="_blank" rel="nofollow noreferrer">Download Syarat dan ketentuan lomba disini <i class="ri-download-2-fill"></i></a>
    </div>

    <form asp-action="DaftarSolo" asp-route-id="@ViewData["id"]">
        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="row input-box">
            <div class="col-md-12 col-12 mb-3">
                <label asp-for="@Model.Nim" class="form-label">NIM *</label>
                <input asp-for="@Model.Nim" type="text" class="input-pensi" />
                <span asp-validation-for="@Model.Nim" class="form-text text-danger"></span>
            </div>
            <div class="col-md-12 col-12 mb-3">
                <label asp-for="@Model.Nama" class="form-label">Nama *</label>
                <input asp-for="@Model.Nama" type="text" class="input-pensi" />
                <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
            </div>
        </div>

        <div class="row input-box">
            <div class="col-md-12 col-12 mb-3">
                <label asp-for="@Model.JenisKelamin" class="form-label">Jenis Kelamin *</label>
                <select asp-for="@Model.JenisKelamin"
                        asp-items="@Enum.GetValues<JenisKelamin>()
                                    .Select(j => new SelectListItem(j.Humanize(), j.ToString()))"
                        class="input-pensi">
                </select>
                <span asp-validation-for="@Model.JenisKelamin" class="form-text text-danger"></span>
            </div>
            <div class="col-md-12 col-12 mb-3">
                <label asp-for="@Model.Angkatan" class="form-label">Angkatan *</label>
                <select asp-for="@Model.Angkatan"
                        asp-items="@Enum.GetValues<Angkatan>()
                                    .Select(j => new SelectListItem(j.Humanize(), j.ToString()))"
                        class="input-pensi">
                </select>
                <span asp-validation-for="@Model.Angkatan" class="form-text text-danger"></span>
            </div>
        </div>

        <div class="row input-box">
            <div class="col-12 mb-3">
                <label asp-for="@Model.NoWa" class="form-label">Nomor WA *</label>
                <input asp-for="@Model.NoWa" type="text" class="input-pensi" />
                <span asp-validation-for="@Model.NoWa" class="form-text text-danger"></span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <button class="btn-custom w-100" style="border-radius: 10px; padding: 15px 10px;">Daftar</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}