@using Humanizer
@model TambahTimLombaVM
@{
    ViewData["Title"] = "Daftar";
    ViewData["Active"] = "Pensi";
}

<style>
    :root {
        --hue: 312;
        --first-color: hsl(var(--hue), 24%, 32%);
        --first-color-alt: hsl(var(--hue), 24%, 28%);
    }

    body {
        background: none;
    }

    .bg-pendaftaran-solo img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .btn-custom {
        background-color: var(--first-color);
        border: none;
    }

        .btn-custom:hover {
            background-color: var(--first-color-alt);
        }
</style>


<div class="bg-pendaftaran-solo">
    <img src="~/img/bg-pendafataran-pensi.jpg" alt="Background Image" />
</div>


<div class="container-lomba-tim animate__animated animate__fadeInDownBig">
    <partial name="_ProgressPartial" model=@false />

    <div class="judul-lomba">
        <h3>Pendaftaran Lomba</h3>
        <p>Silakan isi form di bawah ini untuk mendaftar</p>
    </div>
    <div class="container-ketentuan">
        <a href="@ViewData["PDFPath"]" target="_blank" rel="nofollow noreferrer">Download Syarat dan ketentuan lomba disini <i class="ri-download-2-fill"></i></a>
    </div>

    <form asp-action="DaftarTim" asp-route-id="@ViewData["id"]" id="form">
        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="row mb-3">
            <div class="col-12 input-box">
                <label asp-for="@Model.NamaTim" class="form-label"></label>
                <input asp-for="@Model.NamaTim" type="text" class="input-pensi" />
                <span asp-validation-for="@Model.NamaTim" class="form-text text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 input-box">
                <label asp-for="@Model.Angkatan" class="form-label"></label>
                <select asp-for="@Model.Angkatan"
                        asp-items="@Enum.GetValues<Angkatan>()
                                    .Select(j => new SelectListItem(j.Humanize(), j.ToString()))"
                        class="input-pensi">
                </select>
                <span asp-validation-for="@Model.Angkatan" class="form-text text-danger"></span>
            </div>
        </div>

        <h4>Anggota Tim</h4>

        <div id="anggotaTimContainer">
            <partial name="_TambahPesertaVMPartial" model=@Model />
        </div>

        <div class="row mb-3">
            <div class="col">
                <button class="btn-custom" style="border-radius: 10px; padding: 13px 10px;" type="button" id="tambahAnggota"><i class="ri-add-fill"></i>Tambah Anggota</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <button class="btn-custom w-100" style="border-radius: 10px; padding: 15px 10px;">Daftar</button>
            </div>
        </div>
    </form>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $('#tambahAnggota').on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: 'POST',
                url: '@(Url.Action("TambahAnggota", "Pensi"))',
                success: function (partialView) {
                    console.log(partialView);
                    $('#anggotaTimContainer').html(partialView);
                }
            });
        });

        function hapusAnggota(button) {
            const index = $(button).data("index");

            console.log("this", button);
            console.log("data-index", index);

            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: 'POST',
                url: `/Pensi/HapusAnggota?indexAnggota=${index}`,
                success: function (partialView) {
                    console.log(partialView);
                    $('#anggotaTimContainer').html(partialView);
                }
            });
        }

    </script>
}