@using webSITE.Areas.Dashboard.Models.FotoController
@model FotoPickerVM
@{
    string Id = string.Join("", Guid.NewGuid().ToString().Split("-"));
}

<!-- Tombol Pilihan Gambar -->

<div id="input-container@(Id)">
    @foreach (var id in Model.DaftarIdFoto)
    {
        <input type="text" name="@Model.Name" id="@Model.Name" class="form-control" value="@id" hidden />
    }
</div>
<div class="text-center">
    <button type="button" class="btn-custom mb-3" data-bs-toggle="modal" data-bs-target="#modal@(Id)">Pilih Foto</button>
</div>

<div class="row mb-3 justify-content-center align-items-center">
    <div id="previewFoto@(Id)" class="d-flex justify-content-center preview @(Model.Multi ? "multi" : "")">
        @foreach (var id in Model.DaftarIdFoto)
        {
            <img src="@Url.Action("Foto", "File", new {Area = "", id=id})" class="img-fluid" />
        }
    </div>
</div>

<!-- Akhir Tombol Pilihan Gambar -->
<!-- Modal Upload Foto -->
<div class="modal fade" id="modal@(Id)" data-bs-backdrop="static" tabindex="-1" aria-labelledby="#modal@(Id)" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pilih Gambar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" id="formFile" name="formFile" data-val="true" type="file" />
                            <span class="text-danger" id="formFileVal"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col" id="daftarMahasiswa">
                            <vc:mahasiswa-picker input-name=@nameof(TambahVM.DaftarIdMahasiswa) multi=true></vc:mahasiswa-picker>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-12">
                            <button type="button" class="btn btn-custom w-100" id="uploadFoto">Upload</button>
                        </div>
                    </div>
                    <div class="row" id="fotoGrid">
                        @foreach (var foto in Model.DaftarFoto)
                        {
                            <div class="col-3 p-1 foto-container">
                                <input id="fotoId" value="@foto.Id" hidden />
                                <img class="img-thumbnail" src="@Url.Action("Foto", "File", new {Area = "", id = foto.Id})" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="selesai" class="btn btn-custom" data-bs-dismiss="modal">Selesai</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
<!-- Akhir Modal Upload Foto -->
<!--Script JS -->

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $(function () {
            const id = '@(Id)';
            const inputName = '@(Model.Name)';
            const multi = @(Model.Multi.ToString().ToLower());
            const TambahVMDaftarIdMahasiswa = '@(nameof(TambahVM.DaftarIdMahasiswa))';
            const TambahVMFormFile = '@(nameof(TambahVM.FormFile))';

            fotoPicker({
                id,
                inputName,
                multi,
                TambahVMDaftarIdMahasiswa,
                TambahVMFormFile
            });
        });
    });
</script>