@using Humanizer
@model Lomba
@{
    ViewData["Title"] = "Detail Lomba";
}

<div class="lombaa">
    @if (Model.Jenis == JenisLomba.Solo)
    {
        <!-- Hyperlink -->
        <h1 class="title">Peserta Lomba</h1>
        <ul class="breadcrumbs mb-4">
            <li><a asp-action="Index">Pentas Seni</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Peserta Lomba</a></li>
        </ul>
        <!-- Akhir Hyperlink -->

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Jenis Kelamin</th>
                        <th>Angkatan</th>
                        <th>No. WA</th>
                        <th>Tanggal Daftar</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var peserta in Model.DaftarPeserta)
                    {
                        <tr>
                            <td>@peserta.Id</td>
                            <td>@peserta.Nim.Value</td>
                            <td>@peserta.Nama</td>
                            <td>@peserta.JenisKelamin.Humanize()</td>
                            <td>@peserta.Angkatan.Humanize()</td>
                            <td>@peserta.NoWa.Value</td>
                            <td>@peserta.TanggalDaftar.ToString()</td>
                            <td>
                                <form asp-action="HapusPeserta" asp-route-id="@Model.Id" asp-route-idPeserta="@peserta.Id">
                                    <button class="btn btn-danger" style="padding: 10px 20px;" type="submit">
                                        <i class="fa fa-regular fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <!-- Hyperlink -->
        <h1 class="title">Tim Lomba</h1>
        <ul class="breadcrumbs mb-4">
            <li><a href="#">Pentas Seni</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Tim Lomba</a></li>
        </ul>
        <!-- Akhir Hyperlink -->

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nama Tim</th>
                        <th>Angkatan</th>
                        <th>No. Wa Perwakilan</th>
                        <th>Tanggal Daftar</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tim in Model.DaftarTim)
                    {
                        <tr>
                            <td>@tim.Id</td>
                            <td>@tim.NamaTim</td>
                            <td>@tim.Angkatan.Humanize()</td>
                            <td>@tim.NoWaPerwakilan.Value</td>
                            <td>@tim.TanggalDaftar.ToString()</td>
                            <td>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalAnggota" class="btn btn-warning btn-anggota" data-idTim="@tim.Id" data-idLomba="@Model.Id">
                                    <i class='fas fa-eye' style='color:#ffffff'></i>
                                </button>
                                <form asp-action="HapusTim" asp-route-id="@Model.Id" asp-route-idTim="@tim.Id">
                                    <button class="btn btn-danger" style="padding: 10px 20px;" type="submit">
                                        <i class="fa fa-regular fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="modalAnggota" tabindex="-1" aria-labelledby="modalAnggota" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered custom-modal">
                <div class="modal-content">
                    <div class="kepala-modal">
                        <h2 class="aku-h2" id="exampleModalLabel">Dalam Foto</h2>
                        @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_DataTable" />

    @if(Model.Jenis == JenisLomba.Tim || Model.Jenis == JenisLomba.Pasangan)
    {
        <script type="text/javascript">
            $('.btn-anggota').on('click', function () {
                const idLomba = $(this).attr('data-idLomba');
                const idTim = $(this).attr('data-idTim');

                const modal = $('#modalAnggota .modal-body').html("Loading...")
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: `/Dashboard/Pensi/AnggotaTim/${idLomba}?idTim=${idTim}`,
                    error: function () {
                        modal.html("Gagal Mengambil Data");
                    },
                    success: function (partialView) {
                        console.log(partialView);
                        modal.html(partialView);
                    }
                });
            });
        </script>
    }
}