@model EditVM
@{
    ViewData["Title"] = "Edit Lomba";
}

<div class="edit-lombaa">
    <!-- Hyperlink -->
    <h1 class="title">Edit Lomba</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Pentas Seni</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Edit Lomba</a></li>
    </ul>
    <!-- Akhir Hyperlink -->

    <div class="container-fluid cardplus">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

            <vc:foto-picker name=@nameof(EditVM.FotoId)
                            multi=false
                            value=@(Model.FotoId is not null ? new List<int>{ Model.FotoId.Value } : null)>
            </vc:foto-picker>
            <span asp-validation-for="@Model.FotoId" class="form-text text-danger"></span>

            <div class="row input-box mb-2">
                <div class="col">
                    <label asp-for="@Model.Nama" class="form-label"></label>
                    <input asp-for="@Model.Nama" class="form-control" type="text" />
                    <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
                </div>
            </div>

            <div class="ro input-boxw mb-2">
                <div class="col">
                    <label asp-for="@Model.LinkGrupWa" class="form-label"></label>
                    <input asp-for="@Model.LinkGrupWa" class="form-control" type="text" />
                    <span asp-validation-for="@Model.LinkGrupWa" class="form-text text-danger"></span>
                </div>
            </div>

            <div class="ro input-boxw mb-2">
                <div class="col">
                    <label asp-for="@Model.FilePDF" class="form-label"></label>
                    <input asp-for="@Model.FilePDF" class="form-control" type="file" />
                    <span asp-validation-for="@Model.FilePDF" class="form-text text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mt-4 d-flex justify-content-start">
                <button class="btn-custom me-2" type="submit">Simpan</button>
                <a class="btn-customdel" asp-action="Index">
                    Batal
                </a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}