@using Humanizer
@model List<Lomba>
@{
    ViewData["Title"] = "Pensi";
}

<div class="pensi-info">
    <h1 class="title">Pentas Seni</h1>
    <ul class="breadcrumbs mb-4">
        <li><a href="#">Pengumuman</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Pentas Seni</a></li>
    </ul>
    <div class="mb-4 mt-4">
        <a style="" class="btn btn-custom w-100" asp-area="Dashboard" asp-controller="Pensi" asp-action="Tambah"> + Tambah Lomba </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th width="20%">Foto Lomba</th>
                    <th>Jenis Lomba</th>
                    <th>Keterangan</th>
                    <th>Link Grup WA</th>
                    <th>Jumlah Pendaftar</th>
                    <th>Syarat Lomba</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lomba in Model)
                {
                    <tr>
                        <td>@lomba.Id</td>
                        <td>@lomba.Nama</td>
                        <td>
                            <img class="img-fluid" src="@Url.Action("Foto", "File", new { Area = "", id = lomba.FotoLomba?.Id ?? 0})"/>
                        </td>
                        <td>@lomba.Jenis.Humanize()</td>
                        <td>@lomba.Keterangan</td>
                        <td>
                            <a href="@lomba.LinkGrupWa.ToString()" target="_blank" rel="nofollow noreferrer">Link Grup WA</a>
                        </td>
                        <td>@lomba.JumlahPendaftar @(lomba.Jenis == JenisLomba.Solo ? "Orang" : "Tim")</td>
                        <td>
                            <ul>
                                @foreach (var syarat in lomba.GetSyaratLomba())
                                {
                                    <li style="list-style:circle">@syarat</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <div class="d-flex gap-1 justify-content-start">
                                <a asp-action="Detail" asp-route-id="@lomba.Id" class="btn btn-warning"><i class='fas fa-eye' style='color:#ffffff'></i></a>
                                <a asp-action="Edit" asp-route-id="@lomba.Id" class="btn btn-primary"><i class="fas fa-pen-square fa-lg" style='color:#ffffff'></i></a>

                                <form asp-action="Hapus" asp-route-id="@lomba.Id">
                                    <button class="btn btn-danger" style="padding: 10px 20px;" type="submit"><i class="fa fa-regular fa-trash"></i></button>
                                </form>
                            </div>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_DataTable" />
}