@using Humanizer
@model TambahPesertaVM

<div class="row mb-3">
    <h3 style="font-size:18px; border-top: 1px solid #000; padding: 15px 0px; margin-left:12px;">Peserta ke-1</h3>
    <div class="row mb-3">
        <div class="col-12 mb-3 input-box">
            <label asp-for="@Model.Nim" class="form-label"></label>
            <input asp-for="@Model.Nim" type="text" class="input-pensi" />
            <span asp-validation-for="@Model.Nim" class="form-text text-danger"></span>
        </div>

        <div class="col-12 mb-3 input-box">
            <label asp-for="@Model.Nama" class="form-label"></label>
            <input asp-for="@Model.Nama" type="text" class="input-pensi" />
            <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
        </div>

        <div class="col-12 mb-3 input-box">
            <label asp-for="@Model.JenisKelamin" class="form-label"></label>
            <select asp-for="@Model.JenisKelamin"
                    asp-items="@Enum.GetValues<JenisKelamin>()
                                    .Select(j => new SelectListItem(j.Humanize(), j.ToString()))"
                    class="input-pensi">
            </select>
            <span asp-validation-for="@Model.JenisKelamin" class="form-text text-danger"></span>
        </div>

        <div class="col-12 mb-3 input-box">
            <label asp-for="@Model.Angkatan" class="form-label"></label>
            <select asp-for="@Model.Angkatan"
                    asp-items="@Enum.GetValues<Angkatan>()
                                    .Select(j => new SelectListItem(j.Humanize(), j.ToString()))"
                    class="input-pensi">
            </select>
            <span asp-validation-for="@Model.Angkatan" class="form-text text-danger"></span>
        </div>

        <div class="col-12 input-box">
            <label asp-for="@Model.NoWa" class="form-label"></label>
            <input asp-for="@Model.NoWa" type="text" class="input-pensi" />
            <span asp-validation-for="@Model.NoWa" class="form-text text-danger"></span>
        </div>
    </div>
</div>