@model TambahFotoVM
@inject IRepositoriKegiatan repositoriKegiatan
@inject IRepositoriMahasiswa repositoriMahasiswa

@{
    ViewData["Title"] = "Tambah Foto";
    var listKegiatan = (await repositoriKegiatan.GetAll()).ToList();
    var listMahasiswa = (await repositoriMahasiswa.GetAll()).ToList();
}

<style>

    .tag {
        border: 1px solid;
        border-color: #0dcaf0 !important;
        border-radius: 10rem;
        padding: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .close {
        background: inherit;
        box-sizing: border-box;
        border: solid;
        border-width: 1px;
        border-color: white;
        width: 1.5rem;
        font-size: 1.3rem;
    }

        .close:active {
            border-color: black;
        }
</style>

<form enctype="multipart/form-data" method="post" class="container mt-4" asp-action="Tambah" onsubmit="AjaxSubmit(this);return false">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.Tanggal"></label>
            <input type="date" class="form-control" asp-for="@Model.Tanggal" value="@DateTime.Now">
            <span class="text-danger" asp-validation-for="@Model.Tanggal"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.IdKegiatan"></label>
            <select class="form-control" asp-for="@Model.IdKegiatan">
                <option value="@null">Tidak Ada</option>
                @foreach (var kegiatan in listKegiatan)
                {
                    <option value="@kegiatan.Id">@kegiatan.NamaKegiatan</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.IdKegiatan"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <label>Dalam Foto</label>
            <div class="d-flex justify-content-start" id="tagContainer">
            </div>
            <table class="table table-bordered" id="tbmahasiswa">
                <thead>
                    <tr>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody id="tbbody">
                    @foreach (var mahasiswa in listMahasiswa)
                    {
                        <tr>
                            <td>
                                <input class="form-control" value="@mahasiswa.Id" id="idMahasiswa" hidden="hidden">
                                <div id="namaMahasiswa">@mahasiswa.NamaLengkap</div>
                                <input type="checkbox" id="checkBoxMahasiswa" hidden="hidden">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.FotoFormFile"></label>
            <input class="form-control" asp-for="@Model.FotoFormFile" type="file" />
            <span asp-validation-for="@Model.FotoFormFile" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary" id="btnAjaxSubmit" type="submit">Tambah Foto</button>
        </div>
    </div>
    <a asp-action="Index">Kembali</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTable" />

    <script>
        $(function () {
            const AddRemoveAction = function () {
                $('button.close').each(function (index, item) {
                    $(item).click(function () {
                        let nama = $(this).siblings('#namaMahasiswa').text();

                        $('#tbbody').find('tr').each(function (index, item) {
                            let found = $(item).find('#namaMahasiswa').text() == nama;

                            if (found) {
                                $(item).find('#checkBoxMahasiswa').attr('checked', false);
                                $(item).css({
                                    'background': 'white',
                                    'color': 'black'
                                });
                            }
                        });

                        $(this).parent().remove();
                    });
                });
            };

            $('#tbbody > tr').click(function () {
                $(this).find('#checkBoxMahasiswa').attr('checked', function (i, org) {

                    let newOrg = !org;

                    let nama = $(this).siblings('#namaMahasiswa').text();

                    if (newOrg) {
                        $(this).parents('tr').css({
                            'background': 'blue',
                            'color': 'white'
                        });

                        $('#tagContainer').append(`
                                                <div class="tag">
                                                    <div id="namaMahasiswa">` + nama + `</div>
                                                    <button type="button" class="close" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>`);
                        AddRemoveAction();
                    }
                    else {
                        $(this).parents('tr').css({
                            'background': 'white',
                            'color': 'black'
                        });

                        $('#tagContainer').find('.tag').filter(function () {
                            return $(this).find('#namaMahasiswa').text() == nama;
                        }).remove();;
                    }

                    return newOrg;
                });
            });
        });

        async function AjaxSubmit(oFormElement) {

            const formData = new FormData(oFormElement);

            let idMahasiswa = [];

            $('#tbbody > tr').each((index, item) => {
                let checkboxChecked = $(item).find('#checkBoxMahasiswa').attr('checked');

                if (checkboxChecked) {
                    let id = parseInt($(item).find('#idMahasiswa').val());
                    idMahasiswa.push(id);
                }
            });

            for (let i = 0; i < idMahasiswa.length; i++) {
                formData.append('IdMahasiswa[' + i + ']', idMahasiswa[i]);
            }

            console.log(formData);

            try {
                const response = await fetch(oFormElement.action, {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    console.log(response);
                    window.location.href = '/Foto/Index';
                }
            } catch (error) {
                alert('Error ' + error);
            }
        }
    </script>
}