@model TambahFotoVM

@{
    ViewData["Title"] = "Tambah Foto";
    ViewData["Active"] = "Album";
}

<form enctype="multipart/form-data" method="post" class="container pt-5" asp-action="Tambah">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.Tanggal"></label>
            <input type="date" class="form-control" asp-for="@Model.Tanggal">
            <span class="text-danger" asp-validation-for="@Model.Tanggal"></span>
        </div>
    </div>

    <input type="text" asp-for="@Model.IdKegiatan" hidden="hidden">

    <div class="row mb-2">
        <div class="col">
            <label>Dalam Foto</label>
            <div class="d-flex justify-content-start gap-1" id="tagContainer">
            </div>
            <table class="table table-bordered" id="tbmahasiswa">
                <thead>
                    <tr>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody id="tbbody">
                    @for (int i = 0; i < Model.DaftarMahasiswaTambahFotoVM.Length; i++)
                    {
                        <tr>
                            <td>
                                <input class="form-control" value="@Model.DaftarMahasiswaTambahFotoVM[@i].Id"
                                       id="idMahasiswa" hidden="hidden"
                                       asp-for="@Model.DaftarMahasiswaTambahFotoVM[@i].Id">
                                <input id="namaMahasiswa"
                                       value="@Model.DaftarMahasiswaTambahFotoVM[@i].NamaLengkap"
                                       readonly="true"
                                       asp-for="@Model.DaftarMahasiswaTambahFotoVM[@i].NamaLengkap" />
                                <input type="checkbox" id="checkBoxMahasiswa" hidden="hidden"
                                       asp-for="@Model.DaftarMahasiswaTambahFotoVM[@i].DalamFoto">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.FotoFormFile"></label>
            <input class="form-control" asp-for="@Model.FotoFormFile" type="file" />
            <span asp-validation-for="@Model.FotoFormFile" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary" id="btnAjaxSubmit" type="submit">Tambah Foto</button>
        </div>
    </div>
    <a asp-action="Album" asp-route-idKegiatan="@Model.IdKegiatan">Kembali</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTable" />

    <script>
        $(function () {
            const AddRemoveAction = function () {
                $('button.close').each(function (index, item) {
                    $(item).click(function () {
                        let nama = $(this).siblings('#namaMahasiswa').text();

                        $('#tbbody').find('tr').each(function (index, item) {
                            let found = $(item).find('#namaMahasiswa').val() == nama;

                            if (found) {
                                $(item).find('#checkBoxMahasiswa').attr('checked', false);
                                $(item).css({
                                    'background': 'white',
                                    'color': 'black'
                                });
                            }
                        });

                        $(this).parent().remove();
                    });
                });
            };

            $('#tbbody > tr').click(function () {
                $(this).find('#checkBoxMahasiswa').attr('checked', function (i, org) {

                    let newOrg = !org;

                    let nama = $(this).siblings('#namaMahasiswa').val();

                    if (newOrg) {
                        $(this).parents('tr').css({
                            'background': 'blue',
                            'color': 'white'
                        });

                        $('#tagContainer').append(
                            `<div class="tag">
                                                <div id="namaMahasiswa">` + nama + `</div>
                                                <button type="button" class="close" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>`);
                        AddRemoveAction();
                    }
                    else {
                        $(this).parents('tr').css({
                            'background': 'white',
                            'color': 'black'
                        });

                        $('#tagContainer').find('.tag').filter(function () {
                            return $(this).find('#namaMahasiswa').text() == nama;
                        }).remove();;
                    }

                    return newOrg;
                });
            });
        });
    </script>
}