@model TambahFotoVM
@inject IRepositoriKegiatan repositoriKegiatan
@inject IRepositoriMahasiswa repositoriMahasiswa
@{
    ViewData["Title"] = "Tambah Foto";
    var listKegiatan = (await repositoriKegiatan.GetAll()).ToList();
    var listMahasiswa = (await repositoriMahasiswa.GetAll()).ToList();
}

<form enctype="multipart/form-data" method="post" class="container mt-4" asp-action="Tambah" onsubmit="AjaxSubmit(this);return false">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.Tanggal"></label>
            <input type="date" class="form-control" asp-for="@Model.Tanggal" value="@DateTime.Now">
            <span class="text-danger" asp-validation-for="@Model.Tanggal"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.IdKegiatan"></label>
            <select class="form-control" asp-for="@Model.IdKegiatan">
                <option value="@null">Tidak Ada</option>
                @foreach (var kegiatan in listKegiatan)
                {
                    <option value="@kegiatan.Id">@kegiatan.NamaKegiatan</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.IdKegiatan"></span>
        </div>
    </div>

    <table class="table table-bordered" id="tbmahasiswa">
        <thead>
            <tr>
                <th width="25%">ID</th>
                <th width="50%">Nama</th>
                <th width="25%">Aksi</th>
            </tr>
        </thead>
        <tbody id="tbbody">
            @foreach (var mahasiswa in listMahasiswa)
            {
                <tr>
                    <td>
                        <input class="form-control" value="@mahasiswa.Id" id="idMahasiswa">
                    </td>
                    <td>
                        @mahasiswa.NamaLengkap
                    </td>
                    <td>
                        <input type="checkbox" id="checkBoxMahasiswa">
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row mb-2">
        <div class="col">
            <label asp-for="@Model.FotoFormFile"></label>
            <input class="form-control" asp-for="@Model.FotoFormFile" type="file" />
            <span asp-validation-for="@Model.FotoFormFile" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary" id="btnAjaxSubmit" type="submit">Tambah Foto</button>
        </div>
    </div>
</form>

<a asp-action="Index">Kembali</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DataTable" />

    <script>
        async function AjaxSubmit(oFormElement) {

            const formData = new FormData(oFormElement);

            let idMahasiswa = [];

            $('#tbbody > tr').each((index, item) => {
                let checkbox = $(item).find('#checkBoxMahasiswa:checked');

                console.log(checkbox);

                if (checkbox.length != 0) {
                    let id = parseInt($(item).find('#idMahasiswa').val());
                    idMahasiswa.push(id);
                    console.log(id);
                }
            });

            for (let i = 0; i < idMahasiswa.length; i++)
            {
                formData.append('IdMahasiswa[' + i + ']', idMahasiswa[i]);
            }

            console.log(formData);

            try {
                const response = await fetch(oFormElement.action, {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    window.location.href = '/Foto/Index';
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
}