@model Mahasiswa
@{
    ViewData["title"] = $"Detail - {Model.NamaLengkap}";
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <img src="@Url.ActionLink("FotoProfil", "File", new {Id = Model.Id, Area = ""})"
                     class="img-thumbnail mx-auto border-5 border-primary"
                     width="250"
                     height="250" />
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-6"><b>ID</b></div>
                    <div class="col-6">@Model.Id</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>NIM</b></div>
                    <div class="col-6">@Model.Nim</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Nama Lengkap</b></div>
                    <div class="col-6">@Model.NamaLengkap</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Nama Panggilan</b></div>
                    <div class="col-6">@Model.NamaPanggilan</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Jenis Kelamin</b></div>
                    <div class="col-6">@Model.StrJenisKelamin</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Tanggal Lahir</b></div>
                    <div class="col-6">@Model.TanggalLahir.ToLongDateString()</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Email</b></div>
                    <div class="col-6">@Model.Email</div>
                </div>
                <div class="row">
                    <div class="col-6"><b>Status Akun</b></div>
                    <div class="col-6">@Model.StrStatus</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Daftar Kegiatan</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Tanggal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kegiatan in Model.DaftarKegiatan)
                        {
                            <tr>
                                <td>@kegiatan.Id</td>
                                <td>@kegiatan.NamaKegiatan</td>
                                <td>@kegiatan.Tanggal.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Daftar Foto</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tanggal</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var foto in Model.DaftarFoto)
                        {
                            <tr>
                                <td>@foto.Id</td>
                                <td>@foto.Tanggal.ToShortDateString()</td>
                                <td>
                                    <img width="120" src="@Url.ActionLink("Foto", "File", new {Id = foto.Id, Area = ""})" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index">Kembali</a>

@section Scripts {
    <partial name="_DataTable"></partial>
}