@model Mahasiswa
@{
    ViewData["Title"] = $"Detail - {Model.NamaLengkap}";
}

<div class="detail-mahasiswa">
    <!-- Hyperlink -->
    <h1 class="title">Detail Mahasiswa</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Mahasiswa</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Detail Mahasiswa</a></li>
    </ul>
    <!-- Akhir Hyperlink -->

    <div class="row">
        <div class="col-md-6">
            <!-- Image Card -->
            <div class="cardplus mb-4">
                <img src="@Url.ActionLink("FotoProfil", "File", new { Id = Model.Id, Area = "" })"
                     class="img-thumbnail mx-auto d-block"
                     width="250"
                     height="250" />
            </div>

            <!-- Profile Section Card -->
            <div class="cardplus mb-4">
                <div class="profile-sectionn">
                    <div class="row mb-2">
                        <div class="col-6"><b>ID</b></div>
                        <div class="col-6">@Model.Id</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>NIM</b></div>
                        <div class="col-6">@Model.Nim</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>Nama Lengkap</b></div>
                        <div class="col-6">@Model.NamaLengkap</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>Nama Panggilan</b></div>
                        <div class="col-6">@Model.NamaPanggilan</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>Jenis Kelamin</b></div>
                        <div class="col-6">@Model.StrJenisKelamin</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>Tanggal Lahir</b></div>
                        <div class="col-6">@Model.TanggalLahir.ToLongDateString()</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>Email</b></div>
                        <div class="col-6">@Model.Email</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><b>Status Akun</b></div>
                        <div class="col-6">@Model.StrStatus</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6"><b>Bio</b></div>
                    <div class="col-6">Asu Kayang</div>
                    </div>
                </div>
            </div>

            <!-- Medsos Section -->
            <div class="cardplus">
                <h3 class="text-center">Media Sosial</h3>
                <div class="d-flex justify-content-center social-icons">
                    <a href="#" target="_blank" title="Instagram"><i class="ri-instagram-line"></i></a>
                    <a href="#" target="_blank" title="Facebook"><i class="ri-facebook-box-line"></i></a>
                    <a href="#" target="_blank" title="TikTok"><i class="ri-tiktok-line"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Kegiatan Table Card -->
            <div class="cardplus mb-4">
                <h3 class="text-center">Daftar Kegiatan</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Tanggal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kegiatan in Model.DaftarKegiatan)
                        {
                            <tr>
                                <td>@kegiatan.Id</td>
                                <td>@kegiatan.NamaKegiatan</td>
                                <td>@kegiatan.Tanggal.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Album Table Card -->
            <div class="cardplus">
                <h3 class="text-center">Daftar Foto</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tanggal</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var foto in Model.DaftarFoto)
                        {
                            <tr>
                                <td>@foto.Id</td>
                                <td>@foto.AddedAt.ToShortDateString()</td>
                                <td>
                                    <img width="120" src="@Url.ActionLink("Foto", "File", new { Id = foto.Id, Area = "" })" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
        <a asp-action="Index" class="btn btn-custom col-1 mt-4">Kembali</a>
    </div>
</div>



@section Scripts {
    <partial name="_DataTable"></partial>
}
