@model EditMahasiswaVM
@inject RoleManager<IdentityRole> _roleManager
@{
    ViewData["title"] = $"Edit {Model.NamaLengkap}";
}


<div class="edit-mahasiswa">
    <!-- Hyperlink -->
    <h1 class="title">Edit Mahasiswa</h1>
    <ul class="breadcrumbs mb-4">
        <li><a asp-action="Index">Mahasiswa</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Edit Mahasiswa</a></li>
    </ul>
    <!-- Akhir Hyperlink -->
    <div class="container-fluid cardplus">
        <form action="" method="post" class="row d-flex justify-content-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.Id" class=""></label>
                <input asp-for="@Model.Id" readonly="true" />
            </div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.NamaLengkap" class="">Nama Lengkap</label>
                <input asp-for="@Model.NamaLengkap" readonly="true" />
            </div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.Bio">Bio</label>
                <textarea asp-for="@Model.Bio" class="form-control" rows="4" spellcheck="false"></textarea>
                <span asp-validation-for="@Model.Bio" class="text-danger"></span>
            </div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.InstagramProfileLink" class=""></label>
                <input asp-for="@Model.InstagramProfileLink" class="form-control" spellcheck="false" />
                <span asp-validation-for="@Model.InstagramProfileLink" class="text-danger"></span>
            </div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.FacebookProfileLink" class=""></label>
                <input asp-for="@Model.FacebookProfileLink" class="form-control" spellcheck="false" />
                <span asp-validation-for="@Model.FacebookProfileLink" class="text-danger"></span>
            </div>

            <div class="col-md-12 mb-2 input-box">
                <label asp-for="@Model.TikTokProfileLink" class=""></label>
                <input asp-for="@Model.TikTokProfileLink" class="form-control" spellcheck="false" />
                <span asp-validation-for="@Model.TikTokProfileLink" class="text-danger"></span>
            </div>

            @if (User.IsInRole("SuperAdmin"))
            {
                <div class="col-md-12 mt-2 mb-3 check-box">
                    <input type="checkbox" asp-for="@Model.Admin" class="form-check-input" />
                    <label asp-for="@Model.Admin">Admin</label>                
                </div>
            }

            <div class="col-md-12 mt-3 d-flex justify-content-start">
                <button class="btn-custom me-2" type="submit">Simpan</button>
                <a class="btn-customdel" asp-action="Index">
                    Batal
                </a>
            </div>

        </form>

        
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}