@model List<Mahasiswa>
@{
    ViewData["title"] = "Mahasiswa";
}

<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th>
                NIM
            </th>
            <th>
                Nama Lengkap
            </th>
            <th>
                Tanggal Lahir
            </th>
            <th>
                Jenis Kelamin
            </th>
            <th>
                Status
            </th>
            <th>
                Aksi
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mahasiswa in Model)
        {
            <tr>
                <td>
                    @mahasiswa.Nim
                </td>
                <td>
                    @mahasiswa.NamaLengkap
                </td>
                <td>
                    @mahasiswa.TanggalLahir.ToShortDateString()
                </td>
                <td>
                    @mahasiswa.StrJenisKelamin
                </td>
                <td>
                    @mahasiswa.StrStatus
                </td>
                <td>
                    <div class="d-flex justify-content-start gap-1" role="group">
                        @if (User.Identity.Name != mahasiswa.UserName)
                        {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@mahasiswa.Id"><i class="fas fa-pen-square fa-lg"></i></a>
                            <form id="logoutForm" asp-action="Delete" asp-route-id="@mahasiswa.Id">
                                <button class="btn btn-danger" type="submit">
                                    <i class="fa fa-regular fa-trash"></i>
                                </button>
                            </form>
                        }
                        <a class="btn btn-warning" asp-action="Detail" asp-route-id="@mahasiswa.Id">
                            <i class='fas fa-eye' style='color:#ffffff'></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <partial name="_datatable"></partial>
}