@using webSITE.Models
@model List<Mahasiswa>
@{
    Layout = "_AdminDashboardLayout";
    ViewData["title"] = "Dashboard";
}

<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th width="16%">
                NIM
            </th>
            <th width="18%">
                Nama Lengkap
            </th>
            <th width="18%">
                Tanggal Lahir
            </th>
            <th width="17%">
                Jenis Kelamin
            </th>
            <th>
                Status
            </th>
            <th width="8%">
                Aksi
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mahasiswa in Model)
        {
            <tr>
                <td>
                    @mahasiswa.Nim
                </td>
                <td>
                    @mahasiswa.NamaLengkap
                </td>
                <td>
                    @mahasiswa.TanggalLahir.ToShortDateString()
                </td>
                <td>
                    @mahasiswa.StrJenisKelamin
                </td>
                <td>
                    @mahasiswa.StrStatus
                </td>
                <td>
                    <div class="btn-group gap-1" role="group">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@mahasiswa.Id"><i class="fas fa-pen-square fa-lg"></i></a>
                        <form id="logoutForm" asp-action="Delete" asp-route-id="@mahasiswa.Id">
                            <button class="btn btn-danger" type="submit">
                                <i class="fa fa-regular fa-trash"></i>
                            </button>
                        </form>
                        <a class="btn btn-warning"><i class='fas fa-eye' style='color:#ffffff'></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
