@model List<Mahasiswa>
@{
    ViewData["title"] = "Mahasiswa";
}


<div class="mahassiswa">
    <h1 class="title">Mahasiswa</h1>
    <ul class="breadcrumbs mb-4">
        <li><a href="#">Mahasiswa</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Mahasiswa</a></li>
    </ul>
    <div class="container">
        <table class="table table-bordered table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        NIM
                    </th>
                    <th>
                        Nama Lengkap
                    </th>
                    <th>
                        Tanggal Lahir
                    </th>
                    <th>
                        Jenis Kelamin
                    </th>
                    <th>
                        Aksi
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mahasiswa in Model)
                {
                    <tr>
                        <td>
                            @mahasiswa.Nim
                        </td>
                        <td>
                            @mahasiswa.NamaLengkap
                        </td>
                        <td>
                            @mahasiswa.TanggalLahir.ToShortDateString()
                        </td>
                        <td>
                            @mahasiswa.StrJenisKelamin
                        </td>
                        <td>
                            <div class="d-flex justify-content-start gap-1" role="group">
                                <a class="btn btn-warning" asp-action="Detail" asp-route-id="@mahasiswa.Id">
                                    <i class='fas fa-eye' style='color:#ffffff'></i>
                                </a>
                                @if (User.Identity.Name != mahasiswa.UserName)
                                {
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@mahasiswa.Id"><i class="fas fa-pen-square fa-lg"></i></a>
                                    <form id="logoutForm" asp-action="Delete" asp-route-id="@mahasiswa.Id">
                                        <button class="btn btn-danger" type="submit">
                                            <i class="fa fa-regular fa-trash"></i>
                                        </button>
                                    </form>
                                }                              
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section scripts {
    <partial name="_datatable"></partial>
}