@using System.Globalization
@model List<Pengumuman>
@{
    ViewData["title"] = "Pengumuman";
    ViewData["Active"] = "Pengumuman";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid pb-3 pt-5">
    <h1 class="text-center animate__animated animate__fadeInDown">Pengumuman</h1>
</div>

<div class="container-pengumuman">
    @foreach (var pengumuman in Model)
    {
        <div class="one-pengumuman mb-3">
            <div class="row">
                <div class="col-1 gambar">
                    <img src="@Url.Action("Foto", "File", new {Area = "", id = pengumuman.Foto?.Id})" />
                </div>
                <div class="col-9">
                    <div class="row">
                        <h4 style="font-weight:bold;">
                            @pengumuman.Judul
                        </h4>
                    </div>
                    <div class="row">
                        <p>
                            @pengumuman.Isi
                        </p>
                    </div>
                </div>
                <div class="tanggal-pengumuman col-2 d-flex justify-content-end">
                    <h5>
                        @pengumuman.AddedAt.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo)
                        <br />
                        @pengumuman.AddedAt.ToString("hh.mm tt")
                    </h5>
                </div>
            </div>
            <div class="content">
                @if (pengumuman.Judul.ToLower().Contains("Pentas Seni".ToLower()) 
                    || pengumuman.Isi.ToLower().Contains("Pentas Seni".ToLower()))
                {
                    <a asp-action="Index" asp-controller="Pensi"></a>
                }
            </div>
        </div>

    }
</div>






@section Scripts {
    <partial name="_OwlCarouselPartial" />
    <script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: false,
            nav: true,
            margin: 5,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                960: {
                    items: 5
                },
            }
        });
    </script>
}
