@using System.Globalization
@model List<Pengumuman>
@{
    ViewData["title"] = "Pengumuman";
    ViewData["Active"] = "Pengumuman";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid pb-3 pt-5">
    <h2 class="text-center animate__animated animate__fadeInDown">Pengumuman</h2>
</div>

<div class="container-pengumuman">
    @foreach (var pengumuman in Model)
    {
        <div class="one-pengumuman mb-3">
            <div class="row">
                <div class="col-lg-1 col-md-2 col-3 gambar">
                    <img src="@Url.Action("Foto", "File", new {Area = "", id = pengumuman.Foto?.Id})" />
                </div>
                <div class="col-lg-11 col-md-10 col-9">
                    <div class="row judul-tanggal">
                        <div class="col-md col-12">

                            <h4 class="d-flex" style="font-weight:bold;">
                                @pengumuman.Judul 
                            </h4>
                        </div>
                        <div class="tanggal col-md col-12">
                            <h5>
                                @pengumuman.AddedAt.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo) ~ @pengumuman.AddedAt.ToString("hh.mm tt")
                            </h5>

                        </div>                                            
                    </div>
                    <div class="row">
                        <p style="margin-bottom: 0px;">
                            @pengumuman.Isi
                        </p>
                    </div>
                </div>
            </div>
            <div class="content">
                @if (pengumuman.Judul.ToLower().Contains("Pentas Seni".ToLower()) 
                    || pengumuman.Isi.ToLower().Contains("Pentas Seni".ToLower()))
                {
                    <a asp-action="Index" asp-controller="Pensi"></a>
                }
            </div>
        </div>
    }
</div>


@section Scripts {
    <partial name="_OwlCarouselPartial" />
    <script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: false,
            nav: true,
            margin: 5,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                960: {
                    items: 5
                },
            }
        });
    </script>
}
