@model AccountIndexVM
@{
    ViewData["title"] = $"Profil {Model.NamaLengkap}";
    ViewData["ActiveMenuId"] = "profil";
}

<!-- Bagian Top -->
<section class="backfoto">
    <img src="~/img/background_blue.png" />
    <div class="foto-profil">
        <img src="~/img/Front_Building.jpg" />
    </div>
</section>
<!-- Akhir Bagian Top -->

<div class="keterangan-foto-profil mb-3">
    <button style="padding:7px 15px" class="btn btn-custom mb-3">Ganti Foto</button>
    <h3>Oswaldus Putra Fernando</h3>
    <h5 style="color:#111">2206080016</h5>
</div>

<div class="container-menu">
    <div class="container-menu-lebar">
        <partial name="_MenuPartial" />
    </div>
</div>


<div class="container-fluid container-input-utama mb-5">
    <div class="row">
        <div id="profil" class="col-md ruang-input">
            <div class="card w-100 shadow-sm">
                <div class="card-body">

                    <div class="row">
                        <form id="formProfil" asp-controller="Account" asp-area="" asp-action="Index" class="col-md-12 d-flex flex-column" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-center"></div>
                            <div class="row">                               
                                <div class="col-md-12 mb-3 input-box">
                                    <label asp-for="@Model.NamaLengkap"></label>
                                    <input type="text" class="form-control" asp-for="@Model.NamaLengkap" readonly="true">
                                    <span asp-validation-for="@Model.NamaLengkap" class="text-danger"></span>
                                </div>                                
                            </div>
                            <div class="row">                               
                                <div class="col-md-6 mb-3 input-box">
                                    <label asp-for="@Model.Nim"></label>
                                    <input type="text" class="form-control" asp-for="@Model.Nim" readonly="true">
                                    <span asp-validation-for="@Model.Nim" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-3 input-box">
                                    <label asp-for="@Model.NamaPanggilan"></label>
                                    <input type="text" class="form-control" asp-for="@Model.NamaPanggilan" readonly="true">
                                    <span asp-validation-for="@Model.NamaPanggilan" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3 input-box">
                                    <label asp-for="@Model.TanggalLahir"></label>
                                    <input type="date" class="form-control" asp-for="@Model.TanggalLahir" readonly="true">
                                    <span asp-validation-for="@Model.TanggalLahir" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-3 input-box">
                                    <label asp-for="@Model.JenisKelamin"></label>
                                    <select class="form-control" asp-for="@Model.JenisKelamin" disabled>
                                        @foreach (JenisKelamin jenisKelamin in Enum.GetValues(typeof(JenisKelamin)))
                                        {
                                            <option value="@jenisKelamin">@JenisKelaminExtension.ToString(jenisKelamin)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3 input-box">
                                    <label>Bio</label>
                                    <textarea class="form-control" readonly="true" rows="3">Asu Kayang</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3 input-box">
                                    <label>Instagram</label>
                                    <input type="text" class="form-control" readonly="true">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-3 input-box">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control" readonly="true">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-3 input-box">
                                    <label>Tiktok</label>
                                    <input type="text" class="form-control" readonly="true">
                                    <span class="text-danger"></span>
                                </div>
                            </div>                          
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <button id="btnSubmit" class="btn btn-custom" hidden="hidden" type="submit">Simpan</button>
                                    <a id="btnBatal" class="btn btn-secondary ms-2" asp-action="Index" hidden="hidden">Batal</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row mt-1">
                        <div class="col d-flex justify-content-end">
                            <button style="padding: 5px 20px;" id="btnEdit" class="btn btn-custom">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function () {
            $('#btnEdit').click(() => {
                $('#formProfil input, #formProfil textarea').each((index, item) => {
                    $(item).attr('readonly', false);
                });

                $('#formProfil select').prop('disabled', false);

                $('#btnEdit').prop('hidden', true);

                $('#btnBatal').prop('hidden', false);

                $('#btnSubmit').prop('hidden', false);

            });
        })
    </script>
}
