@model UbahPasswordVM
@{
    ViewData["Title"] = "Ubah Password";
    ViewData["ActiveMenuId"] = "ubahPassword";
}

<div class="container-fluid pt-5 mb-5">
    <div class="row">
        <div class="col-md-2 mb-5">
            <partial name="_MenuPartial" />
        </div>
        <div id="profil" class="col-md-9 d-flex">
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            <h1>Ubah Password</h1>
                        </div>
                    </div>
                    <div class="row">
                        <form id="formProfil" asp-controller="Account" asp-area="" asp-action="UbahPassword" class="col-md-12 d-flex flex-column gap-3" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row mb-2">
                                <div class="col-md-3 my-auto text-md-end">
                                    <label asp-for="@Model.Password"></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" asp-for="@Model.Password">
                                </div>
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-3 my-auto text-md-end">
                                    <label asp-for="@Model.PasswordBaru"></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" asp-for="@Model.PasswordBaru">
                                </div>
                                <span asp-validation-for="@Model.PasswordBaru" class="text-danger"></span>
                            </div>
                    
                            <div class="row mb-2">
                                <div class="col-md-3 my-auto text-md-end">
                                    <label asp-for="@Model.KonfirmasiPassword"></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" asp-for="@Model.KonfirmasiPassword">
                                </div>
                                <span asp-validation-for="@Model.KonfirmasiPassword" class="text-danger"></span>
                            </div>

                            <div class="row mb-2">
                                <div class="col d-flex justify-content-center">
                                    <button class="btn btn-primary" type="submit">Simpan</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}