@model UbahPasswordVM
@{
    ViewData["Title"] = "Ubah Password";
    ViewData["ActiveMenuId"] = "ubahPassword";
}

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-3">
            <partial name="_MenuPartial" />
        </div>
        <div id="profil" class="col-md-9 me-auto">
            <div class="row">
                <div class="col">
                    <h1>Ubah Password</h1>
                </div>
            </div>
            <div class="row">
                <form id="formProfil" asp-controller="Account" asp-area="" asp-action="UbahPassword" class="col-md-9 d-flex flex-column gap-1" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-4 my-auto"><label asp-for="@Model.Password"></label></div>
                        <div class="col-8">
                            <input type="password" class="form-control" asp-for="@Model.Password">
                        </div>
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-4 my-auto"><label asp-for="@Model.PasswordBaru"></label></div>
                        <div class="col-8">
                            <input type="password" class="form-control" asp-for="@Model.PasswordBaru">
                        </div>
                        <span asp-validation-for="@Model.PasswordBaru" class="text-danger"></span>
                    </div>
                    
                    <div class="row">
                        <div class="col-4 my-auto"><label asp-for="@Model.KonfirmasiPassword"></label></div>
                        <div class="col-8">
                            <input type="password" class="form-control" asp-for="@Model.KonfirmasiPassword">
                        </div>
                        <span asp-validation-for="@Model.KonfirmasiPassword" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col d-flex">
                            <button class="btn btn-primary" type="submit">Simpan</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}