@model UbahEmailVM
@{
    ViewData["Title"] = "Ubah Email";
    ViewData["ActiveMenuId"] = "ubahEmail";
}

<!-- Bagian Top MenuPartial -->
<div class="container-menu">
    <div class="container-menu-lebar">
        <partial name="_MenuPartial" />
    </div>
</div>

<div class="container-fluid container-input-utama mb-5">
    <div class="row">
        <div id="ubahEmail" class="col-md ruang-input">
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <form id="formUbahEmail" asp-controller="Account" asp-area="" asp-action="UbahEmail" class="col-md-12 d-flex flex-column" method="post">
                            <div asp-validation-summary="All" class="text-center text-danger"></div>

                            <div class="row">
                                <div class="col-md-12 mb-3 input-box">
                                    <label asp-for="@Model.Email"></label>
                                    <input type="email" readonly="readonly" class="form-control" asp-for="@Model.Email">
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3  input-box">
                                    <label asp-for="@Model.EmailBaru"></label>
                                    <input type="email" class="form-control" asp-for="@Model.EmailBaru">
                                    <span asp-validation-for="@Model.EmailBaru" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col d-flex justify-content-center">
                                    <button class="btn btn-custom" type="submit">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


