@model UbahPasswordVM
@{
    ViewData["Title"] = "Ubah Password";
    ViewData["ActiveMenuId"] = "ubahPassword";
}


<!-- Bagian Top MenuPartial -->
<div class="container-menu">
    <div class="container-menu-lebar">
        <partial name="_MenuPartial" />
    </div>
</div>

<div class="container-fluid container-input-utama mb-5">
    <div class="row">
        <div id="profil" class="col-md ruang-input">
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <form id="formProfil" asp-controller="Account" asp-area="" asp-action="UbahPassword" class="col-md-12 d-flex flex-column" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-12 mb-3 input-box">
                                    <label asp-for="@Model.Password"></label>
                                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password Sekarang">
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                </div>                              
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-3 input-box">
                                    <label asp-for="@Model.PasswordBaru"></label>
                                    <input type="password" class="form-control" asp-for="@Model.PasswordBaru" placeholder="Password Baru">
                                    <span asp-validation-for="@Model.PasswordBaru" class="text-danger"></span>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-md-12 mb-3 input-box">
                                    <label asp-for="@Model.KonfirmasiPassword"></label>
                                    <input type="password" class="form-control" asp-for="@Model.KonfirmasiPassword" placeholder="Konfirmasi Password Baru">
                                    <span asp-validation-for="@Model.KonfirmasiPassword" class="text-danger"></span>
                                </div>                               
                            </div>

                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <button class="btn btn-custom" type="submit">Simpan</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}